@font-face {
 font-family: "Roboto Mono";
 font-weight: normal;
 font-style: normal;
 src: local('"Roboto Mono"'), url('fonts/roboto.ttf') format('truetype');
}
@font-face {
 font-family: "Roboto Mono";
 font-weight: normal;
 font-style: italic;
 src: local('"Roboto Mono"'), url('fonts/roboto-italic.ttf') format('truetype');
}

<script>
    MathJax.Hub.Config({
        "HTML-CSS": {
            /*preferredFont: "TeX",*/
            /*availableFonts: ["TeX", "STIX"],*/
            styles: {
                scale: 100,
                ".MathJax_Display": {
                    "font-size": "100%",
                }
            }
        }
    });
</script>
    